.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.logo {
  width: 70px;
}

.card {
  width: 200px;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
}

.restro-list{
  display: flex;
  flex-wrap: wrap;
}

.card > img {
  width: 100%;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}
